# Gradle - Comment test
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

# pool:
#   Agent.Name: 'AWSVSQAA701'

steps: 
- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    javaHomeOption: 'JDKVersion'
    gradleOptions: '-Xmx12288m'
    publishJUnitResults: false
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'clean toolsApiTests --rerun-tasks --stacktrace --continue --info --debug'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/TEST-*.xml'
    mergeTestResults: true

# - task: PublishTestResults@2
#   inputs:
#     testResultsFormat: 'JUnit'
#     searchFolder: './target/Extent-Reports/'
#     testResultsFiles: '**/TEST-*.xml'
#     failTaskOnFailedTests: true
#     publishRunAttachments: true
#     testRunTitle: 'QA - API Tests'

- task: CopyFiles@2
  inputs:
    targetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
    
- task: SendEmail@1
  inputs:
    To: 'ankit.kumar@infostride.com'
    CC: 'saurav.sharma@infostride.com'
    BCC: 'aayush.khandelwal@infostride.com'
    From: 'ankit.kumar@infostride.com'
    Subject: 'pipleine'
    Body: 'Hi, Your Build is successful.'
    BodyAsHtml: false
    AddAttachment: true
    Attachment: '$(System.DefaultWorkingDirectory)/target/Extent-Reports/index.html'
    SmtpServer: 'smtp.office365.com'
    SmtpUsername: 'ankit.kumar@infostride.com'
    SmtpPassword: 'INFO7184@Ak'